.patient-profile-box {
  background-color: beige;
  height: 1000px;
  margin: 0%;
  padding: 10px;
}

.patient-profile-card {
  background-color: blue;
  width : 85%;
  height: 900px;
  margin: 20px auto;
  padding: 20px 40px;
  margin-bottom: 80px;
  font-family: 'Playfair Display', serif;
}

.patient-profile-basic {
  display: flex;
  flex-direction: column;
}

.patient-profile-basic-box1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.patient-profile-phnumber, .patient-profile-email, .patient-profile-gender {
  flex : 1;
}
.patient-profile-basic-box2 {
  flex : 1;
  display: flex;
  flex-direction: row;
}

.user-profile-save-button {
  padding: 15px 30px;
  color: #536dfe;
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  background: none;
  font-weight: 750;
  border: 1px solid #536dfe ;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
  float: right;
  margin-right: 200px;
  width: 200px;
  cursor: pointer;
}

.user-profile-save-button:hover {
  color: #1a237e;
  background: #536dfe;
  /* box-shadow: 0 0 10px #82b1ff, 0 0 40px #82b1ff, 0 0 80px #82b1ff; */
  border: 3px solid #255784 ;
  border: none;
  margin-top: 20px;
  margin-bottom: 11px;
  transition-delay: 0.01s;
  cursor: pointer;
}